@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

html {
  background: white;
  display: block;
  background-size: auto;
}

body {
  background-size: 100%;
  background-repeat: no-repeat;
  width: fit-content;
  
  background-color: #E5E5E5
}

.main-header {
  background-image: url(images/header/background/header-shapes\ mobile.png);
  background-repeat: no-repeat;
  width: fit-content;
  display: flexbox;
  background-color: white;

}

.toolbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 30px;
}

.Logo {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 20px;
  color: #6070ff;
  text-align: left;
}

.header-container {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.portfolio-header {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  justify-self: center;
  font-style: normal;
  color: #172b4d;
  margin: 30px;
}

.content-container {
  display: flex;
  margin: 30px;
}

.content {
  display: flex;
  justify-content: space-around;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #344563;
}

.contact-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #7f8cff;
  font-size: 16px;
  line-height: 24px;
  margin: 30px;
}

.favicons-container {
  justify-content: space-around;
  margin: 30px;
}

.favicon {
  padding: 10px;
}

.works {
    display: grid;
}

.work-card {

    display: flexbox;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    position: static;
    width: 100%;
    
    background: #FFFFFF;
    border: 1px solid #DFE1E6;
    box-sizing: border-box;
    border-radius: 16px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 20px 5px;
    display: flexbox;

}



/* .work-img {
    width: auto;
    height: 220px;
    margin: 12px;
    border-radius: 8px;
    background-color: gray;
} */

.work-1-img {
    width: 100%;
    /* height; */
    display: flexbox;
    margin: 12px;
}

.work-title {
    position: static;
    width: 295px;
    height: 36px;
    left: 0px;
    top: 0px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #172B4D;
    margin: 12px;
    margin-top: 10px;
}

.details-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 80%;
    margin: 12px ;
}

h5{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px; 
    color: #344563;
    position: static;
    width: 55px;
    height: 16px;
    left: 0px;
    top: 8px;
}

h6 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px; 
    color: #7A869A;
    position: static;
    width: 88px;
    height: 16px;
    top: 8px;

}

.description {
    font-family:'Poppins';
    font-weight: 400;
    font-style: normal;
    size: 15px;
    line-height: 24px;
    color: #344563;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 12px 0px;
    justify-content: left;
}


.lang {
    font-family: 'Poppins';
    font-size: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070FF;
    /* position: static; */
    height: 16px;
    top: 4px;
    order: 0;
    flex-grow: 0;
    margin: 12px;
    display: flexbox;
    border-radius: 8px;
    background-color: #EBEBFF;
    border: none;
}

.work-button {
    padding-top: 30px;
    padding-bottom: 25px;
    justify-items: left;
}

.project-button {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    padding:12px;
    text-align: center;
    justify-items: left;
    letter-spacing: 0.03em;
    color: #396DF2;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
    border: 1px solid #6070FF;
    box-sizing: border-box;
    border-radius: 8px;
    width: fit-content;
    height: 48px;
    left: 0px;
    top: calc(50% - 48px/2);
    background: none;
}