@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


html {
    background: white;
    display: block;
    background-size: auto;

}

body {
    background-image: url(images/header/background/header-background.png);
    background-size: contain;
    background-repeat: no-repeat;    
    background-position: center;
    width: fit-content;
    display: flex;
}

.toolbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.header-container {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    
}

.portfolio-header {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    justify-self:center;
    font-style: normal;
    color: #172B4D;

}

.content {
    display: flex;

    justify-content: space space-around;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #344563;
}

.contact-title {
    font-family: 'Poppins, sans-serif';
    font-weight: 500;
    font-style: normal;
    color: #7F8CFF;
}

.favincons-container {
    justify-content: space-around;
    /* flex-grow: 4; */
    padding: 5px;
    margin: 50px;
}

.favicon {
    padding:10px;
    
}